
@import url("gtk-colors.css");
@import url("gtk-version.css");
@import url("widgets.css");
@import url("alternative.css");

@define-color gtk_fg_color white;
@define-color gtk_text_color @gtk_fg_color;
@define-color gtk_bg_color mix(#333,@gtk_selected_bg_color,0.05);
@define-color gtk_base_color shade(@gtk_bg_color,1.3);

@define-color gtk_button_color alpha(@gtk_fg_color,0.1);
@define-color gtk_alt_button_color @gtk_button_color;
@define-color gtk_widget_color alpha(currentcolor,0.1);

@define-color gtk_shadow alpha(black,0.5);
@define-color gtk_button_shadow alpha(@gtk_shadow,0.5);
@define-color gtk_menu_shadow alpha(@gtk_shadow,0.5);

@define-color text_shadow_color alpha(@panel_bg,0.5);

@define-color gtk_borders mix(@gtk_bg_color,black,0.5);
@define-color gtk_transparent_borders alpha(black,0.5);

@define-color gtk_selected_bg_color shade(#1B86EF,1.2);
@define-color gtk_selected_fg_color white;

@define-color gtk_highlight alpha(white,0.35);

@define-color gtk_titlebar_bg_color @gtk_base_color;
@define-color gtk_titlebar_bg_backdrop_color @gtk_bg_color;

@define-color gtk_titlebar_fg_color @gtk_fg_color;
@define-color gtk_sidebar_color mix(@gtk_bg_color,white,0.05);
