[user]
    email = zjajzcx3566@163.com
    name = cxzhou35
[core]
    editor = nvim
    ignorecase = false
    excludesfile = ~/.gitignore
[init]
    defaultBranch = main
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto
[pull]
    rebase = false
[github]
    user = cxzhou35
[diff]
    tool = nvimdiff
[push]
    default = current
    autoSetupRemote = true
[remote "origin"]
    proxy = http://127.0.0.1:7890
[http]
    proxy = socks5h://127.0.0.1:7890
[https]
    proxy = socks5h://127.0.0.1:7890
